Checks: >-
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.NewDelete*,
  bugprone-*,
  performance-*,
  cert-err34-c,
  cert-str34-c,
  misc-redundant-expression,
  misc-misleading-bidirectional,
  readability-misleading-indentation,
  readability-duplicate-include,
  cppcoreguidelines-slicing,
  cppcoreguidelines-pro-type-member-init,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -bugprone-implicit-widening-of-multiplication-result,
  -performance-no-int-to-ptr,
  -readability-magic-numbers,
  -readability-identifier-naming,
  -readability-braces-around-statements,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -modernize-*
WarningsAsErrors: ''
HeaderFilterRegex: '(^|/)(src/(TFT_eSPI\.h|User_Setup(_Select)?\.h|Extensions/.*|internal/.*|TFT_Drivers/.*|User_Setups/.*)|User_Setup\.h|test/.*)$'
ExcludeHeaderFilterRegex: '(^|/)(\.platformio/|\.pio/|src/Fonts/|extras/|Tools/)'
SystemHeaders: false
FormatStyle: file
